{% extends 'base.html' %}

{% block content %}
<div style="width: 90%"">
  <table >
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" class="btn btn-secondary" style="background:grey;border-width: 2px  "> Submit</button>
            <a href="{% url 'home' %} "><button type="button" class="btn btn-secondary"style="background:grey;border-width: 2px  ">
    
              Return to home </button></a>
          </div>
        </div>
      </form>

<table class="table">
  <tbody>
      {%for key,val in lists.items %}
      <tr >
        <th style="font-family:'Copperplate';font-size: 23px;background-color:whitesmoke;border: 1px" scope="row">{{ key }}</th>
        {%for key1,val1 in val.items %}
        <div>
          <th style="font-family:'Copperplate';background-color:whitesmoke" scope="row" >{{ key1 }}:</th>
          <td style="font-family:'Copperplate';background-color:whitesmoke" >{{ val1 }}</td>
        </div>
      {% endfor %}
      </tr>
    {% endfor %}
    <tbody>
    </div>
{% endblock %}